.profile {
  width: 320px;
  margin: 0 auto 60px;
  background-color: #f8f8f8;
  border: 1px solid #252525;
  border-radius: 10px;
}

.description {
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 12px auto;
  background-color: #2d2d2d;
}

.name, .tag, .location {
  margin: 0;
}

.name {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
}

.tag {
  font-size: 16px;
  color: #646464;
  margin-bottom: 4px;
}

.location {
  font-size: 16px;
  color: #646464;
  margin-bottom: 0;
}

.stats {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #bbbbbb;
  border-top: 1px solid #646464;
  border-radius: 0 0 10px 10px;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 33.33%;
}

.stats li:not(:last-child) {
  border-right: 1px solid #646464;
}

.label {
  font-size: 14px;
  color: #000000;
}

.quantity {
  font-weight: 700;
  color: #000000;
}
