.transactionHistory {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #2d2d2d;
}

.transactionHistory thead {
  background-color: #4d4d4d;
  color: #ffffff;
}

.transactionHistory th,
.transactionHistory td {
  width: 33.33%;
  font-size: 14px;
  border: 1px solid #2d2d2d;
}

.transactionHistory th {
  font-weight: 600;
}

.transactionHistory td {
  color: #000000;
  text-align: center;
}

.transactionHistory td:first-child {
  text-transform: capitalize;
  text-align: left;
  padding-left: 40px;
}

.transactionHistory tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.transactionHistory tbody tr:nth-child(even) {
  background-color: #c5c5c5;
}
